.new-h1 {
  width: max-content;
  font-size: 60pt;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.solid-stick {
  height: 1rem;
  width: 100%;
  background: rgb(200, 200, 200);
}

.product-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  border: solid;
  border-color: transparent;
  border-radius: 0rem;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.product-section:hover {
  color: #13b3f8;
  border-color: #13b3f8;
  border-radius: 0.5rem;
  transform: scale(1.02);
}


.inline {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.cart-buy {
  margin-top: 2rem;
  width: 70px;
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.product-section:hover img.cart-buy {
  cursor: pointer;
  opacity: 0.8;
}
