.link {
  text-align: center;
  font-size: 20pt;
  text-decoration: none;
  margin-right: 1rem;
  color: white;
  transition: color 0.8s;
  -webkit-transition: color linear 0.8s;
}

.link:hover {
  color: #13b3f8;
}

.link.active {
  color: #13b3f8;
}
